/* original Google maps API css 
  Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
  height: 100vh;
  width: 75%
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-flow: row nowrap;
}

.sidebar {
  width: 25%;
  /* height: 100vh; */
}

input#search {
  width: 100%
}

.list-item {
  list-style: none;
}

/* original create-react-app css 
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
